body {
    text-align: center;
    margin: 0 auto;
    }

header{
    background-color: #F15B31;
    padding: 30px 20px;
}

nav{
    background-color: #00A6B3;
    padding: 20px 0;
    margin-top: -20px;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 45px;
    text-transform: uppercase;
    margin: 0;
    color: #FFFFFF;
    }

.instructions{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: #0D2c40;
    letter-spacing: 1px;
    font-size: 20px;
    text-transform: uppercase;
}

.instructiontext{
    font-family: "Droid Serif", serif;
    line-height: 26px;
    font-size: 18px;
    }

a{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 20px;
    color: #FFFFFF;
    border-bottom: 2px solid transparent;
}

a:hover{
    border-color: white;
}

main{
    width: 850px;
    margin: 35px auto;
}

img{
    margin: 40px 8px;
}

footer{
    padding: 5px 20px; /*increase top/btm padding from 0-5 to avoid white space in fullscreen*/
    background-color: #0D2C40;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
}

.copyright{
    float: left;
    font-size: 16px;
    margin: 20px auto;
}

.message{
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}

.name{
    color: #F15B31;
    font-weight: 700;
}

#button{
    font-size: 18px;
    padding: 10px 30px;
    border-style: double;
    border-color: coral;
    border-radius: 15px;
}